<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My First CRUD Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: Green">

            <a class="navbar-brand"> CRUD App </a>
        <th:block th:include="menu"></th:block>


    </nav>
</header>
<br>
<div class="container col-md-5">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/}"
                     method="POST">

                <fieldset class="form-group">
                    <label>User Login</label> <input type="text" class="form-control" name="username" value="">
                </fieldset>

                <fieldset class="form-group">
                    <label>User Password</label> <input type="password" class="form-control" name="password" value="" >
                </fieldset>

                <div class="container text-left">
                    <button type="submit" class="btn btn-success">SignIn</button>
                    &nbsp;&nbsp;&nbsp
                    <a th:href="@{/registration}" class="btn btn-success">SignUp</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
